<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643629539966-6b2bbjafq5lctgi623l8662bi1ubqadg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643629539966-6b2bbjafq5lctgi623l8662bi1ubqadg</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXA9cwyOP9EWJv4oWlgc74dImyqRNaow</string>
	<key>GCM_SENDER_ID</key>
	<string>643629539966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCli</string>
	<key>PROJECT_ID</key>
	<string>mynotes0645</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes0645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643629539966:ios:324c0784bbffa2f88aee2f</string>
</dict>
</plist>